.top-header {
    margin-top: 60px;
}

.activity {
    padding: 0 120px;
    background-color: #F2F4FA;
}

.cc {
    background-color: #F2F4FA;
}

.pd {
    padding: 20px;
}

.details {
    position: relative;
}

.details-child {
    position: sticky;
    top: 0;
}

.parson-detail span {
    margin: 0 4px;
    font-size: 19px;
}

.break button {
    border: none;
    padding: 7px;
    font-size: 17px;
    background-color: #fff;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .activity {
        padding: 0 20px;
    }

    .pd {
        padding: 5px;
    }
}